[Desktop Entry]
Name=Canteen

X-KDE-PluginInfo-Name=Canteen
X-KDE-PluginInfo-Author=TCET Website
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPL