[Desktop Entry]
Name=Entrance

X-KDE-PluginInfo-Name=Entrance
X-KDE-PluginInfo-Author=TCET Website
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPL