[Desktop Entry]
Name=College

X-KDE-PluginInfo-Name=College
X-KDE-PluginInfo-Author=TCET Website
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPL